<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <!-- ConfigurationManager:appSettings -->
    
    <!--local connstring -->
   <!-- <add key="ConnectionString" value="SERVER=localhost;DATABASE=BR;UID=root;PASSWORD=grinig;"/> -->


    <!--local connstring -->
  <!-- <add key="ConnectionString" value="SERVER=localhost;DATABASE=br;UID=root;"/> -->


    <!--local connstring MsSql-->
    <add key="ConnectionString" value="Data Source=PER-DESKTOP;Initial Catalog=BR;Integrated Security=True"/>
    


    <!--azure connstring-->
    <!--  <add key="ConnectionString" value="Server=tcp:brsql.database.windows.net,1433;Initial Catalog=per-sql;Persist Security Info=False;User ID=bradmin;Password=fy7k8u11A;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"/> -->
  </appSettings>
</configuration>